.boxa {
    width: 200px;
    height: 200px;
    background: aqua;
    position: relative;
}
.boxred {
    width: 100px;
    height: 70px;
    background: red;
    position:absolute;
    top: 10px;
    left: 90px;
}
.text {
    position:absolute;
    top: 50px;
    left: 5px;
}

